:host {
    display: block;
    margin:10px;
    padding:10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ml-auto {
    margin-left: auto;
}

td.nom {
    width: 100%;
}

td.actions {
    width: 150px;
}
